<!-- aqui esta la navegacion de la pagina principal -->
<nav>
    <ul>
        <li><a href="/">Number1</a></li>
        <li><a href="/number2">Number2</a></li>
        <li><a href="/api">notificación</a></li>
    </ul>
</nav>