<!-- esta es la pagina principal -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>server</title>
</head>
<body>
    <h1 align = center>Pagina Principal</h1>

    <%- include ('partials/navigation.ejs') %>
    
</body>
</html>